#color-text{
    text-decoration: none !important;
    color: black;
    text-align: right;
    padding-left: 20px;
}

#backcolor-dropdown{
    background-color: white;
}

#dropdownMenuLink{
    font-size: 18px;
    font-weight: normal;
    font-family: Tahoma;
    background-color: #0e90d2;
}

#height-input{
    height: 40px;
    font-size: 17px;
}

#cus-h1{
    padding-top: 20px;
}