{% extends 'admin/master.html' %}

{% block body %}
    <h2 class="text-center">Báo cáo tháng</h2>

    <form class="form-group" action="{{ url_for('reportmonth.report_month') }}" method="post">
        <input class="form-control" type="text" placeholder="Nhập tháng cần hiển thị báo cáo" name="month_name">
        <br>
        <button class="btn btn-danger">Hiển thị</button>
    </form>

    {% if month_name %}
        <h2>Thông tin báo cáo tháng: {{ month_name }}</h2>
    {% endif %}

    </br>
    <table class="table table-bordered table-hover">
        <tr>
            <th class="text-center">Mã chuyến bay</th>
            <th class="text-center">Tên chuyến bay</th>
            <th class="text-center">Ngày bay</th>
            <th class="text-center">Giờ bay</th>
            <th class="text-center">Số vé</th>
            <th class="text-center">Doanh thu</th>
        </tr>
        {% if report_month %}
                {% for r in report_month %}
                <tr>
                    <td class="text-center">{{ r.id }}</td>
                    <td class="text-center">{{ r.name }}</td>
                    <td class="text-center">{{ r.departure_day }}</td>
                    <td class="text-center">{{ r.flight_time }}</td>
                    <td class="text-center">{{ r.SoVe }}</td>
                    <td class="text-center">{{ r.DoanhThu }}</td>
                </tr>
                {% endfor %}
            {% endif %}
    </table>
{% endblock %}

