<section id="home" class="about-us" style="color: cadetblue">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-about-us">
                        <img src="{{ url_for('static', filename='images/airline.png') }}" alt="img_banner">
                    </div>
                </div>
                <div class="col-sm-0">
                    <div class="single-about-us">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>