<section id="home" class="about-us" style="background-color:  cadetblue">
    <div class="container" >
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-about-us">
                        <img class="mySlides" src="{{ url_for('static', filename='images/banner/banner1.jpg') }}" alt="img_banner">
                        <img class="mySlides" src="{{ url_for('static', filename='images/banner/banner2.jpg') }}" alt="img_banner">
                        <img class="mySlides" src="{{ url_for('static', filename='images/banner/banner3.jpg') }}" alt="img_banner">
                        <img class="mySlides" src="{{ url_for('static', filename='images/banner/banner4.jpg') }}" alt="img_banner">
                        <img class="mySlides" src="{{ url_for('static', filename='images/banner/banner5.jpg') }}" alt="img_banner">
                        <img class="mySlides" src="{{ url_for('static', filename='images/banner/banner6.jpg') }}" alt="img_banner">
                    </div>
                </div>
                <div class="col-sm-0">
                    <div class="single-about-us">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>