<section id="blog" class="blog">
    <div class="container">
        <div class="blog-details">
            <div class="gallary-header text-center">
                <h2 class="wow bounceInUp">
                    Tin tức mới nhất
                </h2>
                <p class="wow fadeInRightBig">
                    Tin tức về du lịch và hãng bay TK Airline
                </p>
            </div>
            <div class="blog-content">
                <div class="row">

                    <div class="col-sm-4 col-md-4 wow fadeInLeft">
                        <div class="thumbnail">
                            <h2>Khuyến mãi<span>1 - 12 - 2020</span></h2>
                            <div class="thumbnail-img">
                                <img src="{{ url_for('static', filename='images/blog/sale30.jpg') }}" alt="blog-img">
                                <div class="thumbnail-img-overlay"></div>
                            </div>
                            <div class="caption">
                                <div class="blog-txt">
                                    <h3>
                                        <a href="#">
                                            Cùng TK Airline giảm 30% chặng bay nội địa trong chương trình Mid-Night Sales
                                        </a>
                                    </h3>
                                    <p>
                                        Chương trình ưu đãi hấp dẫn để bạn có thể tha hồ lựa
                                        chọn và vi vu đến từ hãng hàng không quốc gia Việt Nam là
                                        TK Airline...
                                    </p>
                                    <a href="#">Đọc thêm...</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 wow fadeInUp">
                        <div class="thumbnail">
                            <h2>Đường bay <span>20 - 11 - 2020</span></h2>
                            <div class="thumbnail-img">
                                <img src="{{ url_for('static', filename='images/blog/duongbay.jpg') }}" alt="blog-img">
                                <div class="thumbnail-img-overlay"></div>
                            </div>
                            <div class="caption">
                                <div class="blog-txt">
                                    <h3>
                                        <a href="#">
                                            TK Airline tăng tần suất các đường bay Tp Hồ Chí Minh - Rạch Giá, Cà Mau
                                        </a>
                                    </h3>
                                    <p>
                                        Trước nhu cầu đi lại đang có xu hướng tăng cao của khách hàng trên
                                        đường bay giữa Tp. Hồ Chí Minh - Rạch Giá, Cà Mau...
                                    </p>
                                    <a href="#">Đọc thêm...</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 wow fadeInRight">
                        <div class="thumbnail">
                            <h2>Mừng sinh nhật <span>4 - 12 - 2020</span></h2>
                            <div class="thumbnail-img">
                                <img src="{{ url_for('static', filename='images/blog/sinhnhat.jpg') }}" alt="blog-img">
                                <div class="thumbnail-img-overlay"></div>
                            </div>
                            <div class="caption">
                                <div class="blog-txt">
                                    <h3>
                                        <a href="#">
                                            TK Airline khuyến mãi tưng bừng - Mừng siêu sinh nhật tập đoàn FLC
                                        </a>
                                    </h3>
                                    <p>
                                        Chương trình "Khuyến mãi tưng bừng - mừng SIÊU SINH NHẬT" tập đoàn
                                        FLC được hãng hàng không TK Airline triển khai...
                                    </p>
                                    <a href="#">Đọc thêm...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>