<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Tickets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Đặt vé chuyến bay</h1>

    <br/>

    <h4 >Thông tin chuyến bay</h4>
    <table class="table">
        <tr>
            <th></th>
            <th>Mã chuyến bay</th>
            <th>Điểm đi</th>
            <td>Điểm đến</td>
            <td>Ngày đi</td>
            <td>Giờ bay</td>
            <td></td>
        </tr>
        {% if flights %}
            <td></td>
            <td>{{flights.id}}</td>
            <td>{{ flights.departure_airport }}</td>
            <td>{{ flights.arrival_airport }}</td>
            <td>{{ flights.departure_day}}</td>
            <td>{{ flights.flight_time }}</td>
        {% endif %}
    </table>

    <br/>

    <h4>Nhập thông tin khách hàng</h4>
    <form action="{{ url_for('book_tickets_result') }}", method="post">
        <div class="row">
            <div class="col-md-6">
                <input class="form-control" type="text" placeholder="Họ và tên" name="name"/>
            </div>
             <div class="col-md-6">
                <input class="form-control" type="text" placeholder="Số điện thoại" name="phone"/>
            </div>
            <div class="col-md-6">
                <input style="margin-top: 10px" class="form-control" type="text" placeholder="CMND" name="cmnd"/>
            </div>
             <div class="col-md-6">
                <input style="margin-top: 10px" class="form-control" type="text" placeholder="Địa chỉ" name="dia_chi"/>
            </div>
            <div class="col-md-6">
                <input style="margin-top: 10px" class="form-control" type="text" placeholder="Loại vé" name="loai_ve"/>
            </div>
        </div>
        <button style="margin-top: 10px;margin-bottom: 20px" class="btn btn-danger" value="{{ flights.id }}" name="btn-xacnhan">
            Xác nhận đặt vé</button>
    </form>
</body>
</html>