<section class="testemonial" id="experience">
    <div class="container">

        <div class="gallary-header text-center">
            <h2 class="wow bounceInUp">
                Kinh nghiệm bay
            </h2>
            <p class="wow fadeInRightBig">
                Một vài kinh nghiệm được rút ra sau mỗi chuyến bay của TK Airline
            </p>

        </div>

        <div class="owl-carousel owl-theme" id="testemonial-carousel">

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="{{ url_for('static', filename='images/experience/luggage.png') }}" alt="img"/>
                    </div>
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Tùy vào mỗi chuyến bay nội địa hay quốc tế mà mỗi hành khách được mang theo
                            7kr hay 13kg hành lý xách tay...
                        </p>
                        <h3>
                            <a href="#">
                                Quy định về hành lý xách tay
                            </a>
                        </h3>
                        <h4>TK Airline</h4>
                    </div>
                </div>
            </div>

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="{{ url_for('static', filename='images/experience/ticket.png') }}" alt="img"/>
                    </div>
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Nhiều khách sau khi  đặt vé máy bay và hoàn tất, nhưng khi ra
                            đến sân bay lại thiếu những loại giấy tờ cần thiết...
                        </p>
                        <h3>
                            <a href="#">
                                Giấy tờ tùy thân khi đi máy bay
                            </a>
                        </h3>
                        <h4>TK Airline</h4>
                    </div>
                </div>
            </div>

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="{{ url_for('static', filename='images/experience/baby.ico') }}" alt="img"/>
                    </div>
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Theo qui định của TK Airline, hãng chỉ nhận vận chuyển hành khách là trẻ em
                            có độ tuổi từ 2 tuần tuổi trở lên...
                        </p>
                        <h3>
                            <a href="#">
                                Giấy tờ đi máy bay cho trẻ em
                            </a>
                        </h3>
                        <h4>TK Airline</h4>
                    </div>
                </div>
            </div>

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="{{ url_for('static', filename='images/experience/tax.png') }}" alt="img"/>
                    </div>
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Trong xu thế kinh tế phát triển mạnh mẽ như hiện này, ngày càng nhiều khách du
                            lịch yêu thích việc săn tìm các vé hàng không giá rẻ...
                        </p>
                        <h3>
                            <a href="#">
                                Mua hàng miễn thuế ở sân bay
                            </a>
                        </h3>
                        <h4>TK Airline</h4>
                    </div>
                </div>
            </div>

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="{{ url_for('static', filename='images/experience/alcohol.png') }}" alt="img"/>
                    </div>
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Vào các dịp lễ tết, chúng ta thường có nhu cầu biếu rượu cho nhau. Do nhu
                            cầu di chuyển, nhiều khách hàng phải mang rượu...
                        </p>
                        <h3>
                            <a href="#">
                                Rượu có được mang lên máy bay không?
                            </a>
                        </h3>
                        <h4>TK Airline</h4>
                    </div>
                </div>
            </div>

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="{{ url_for('static', filename='images/experience/deal.png') }}" alt="img"/>
                    </div>
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Thật sự, vé máy bay càng đặt sát ngày thì giá vé sẽ càng chẳng thân thiện.
                            Nếu tinh ý bạn sẽ nhận ra ngay, những “chuyên gia săn vé”...
                        </p>
                        <h3>
                            <a href="#">
                                Săn vé máy bay giá rẻ như thế nào?
                            </a>
                        </h3>
                        <h4>Tk Airline</h4>
                    </div>
                </div>
            </div>

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="{{ url_for('static', filename='images/experience/chair.png') }}" alt="img"/>
                    </div>
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Thông thường các hãng hàng không có 3 loại hạng ghế máy bay cơ bản là ghế hạng nhất, hạng
                            Thương gia và hạng Phổ thông...
                        </p>
                        <h3>
                            <a href="#">
                                2 loại hạng ghế trên máy bay
                            </a>
                        </h3>
                        <h4>TK Airline</h4>
                    </div>
                </div>
            </div>

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="{{ url_for('static', filename='images/experience/prepare.png') }}" alt="img"/>
                    </div>
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Vé máy bay là thứ bạn không thể thiếu cho một hành trình bay.
                            Ngày nay bạn có thể mua vé thông qua nhiều kênh khác nhau...
                        </p>
                        <h3>
                            <a href="#">
                                Khi đi máy bay cần chuẩn bị gì?
                            </a>
                        </h3>
                        <h4>TK Airline</h4>
                    </div>
                </div>
            </div>

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="{{ url_for('static', filename='images/experience/food.png') }}" alt="img"/>
                    </div>
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Mỗi một quốc gia, vùng đất đều có những quy định riêng khi nhập cảnh,
                            nhất là đối với thực phẩm. Để tránh những phiền phức...
                        </p>
                        <h3>
                            <a href="#">
                                Quy định thực phẩm khi xuất nhập cảnh
                            </a>
                        </h3>
                        <h4>TK Airline</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>