<footer class="footer-copyright">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <div class="footer-logo">
                            <a class="wow fadeInUp" href="#">
                                TK<span>Airline</span>
                            </a>
                            <p class="wow fadeInUp" data-wow-delay="0.3s">
                                travel the best agency
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <h2 class="wow fadeInDown">TK Airline</h2>
                        <div class="single-footer-txt">
                            <p class="wow fadeInUp"><a href="#header">Trang chủ</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.1s"><a href="#top-destination">Điểm đến</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.2s"><a href="#packages-combo">Gói combo</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.3s"><a href="#experience">Kinh nghiệm</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.4s"><a href="#blog">blog</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.5s"><a href="#">Dịch vụ</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <h2 class="wow fadeInDown">Địa điểm phổ biến</h2>
                        <div class="single-footer-txt">
                            <p class="wow fadeInUp"><a href="#">Singapore</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.1s"><a href="#">Malaysia</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.2s"><a href="#">Japan</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.3s"><a href="#">Hong Kong</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.4s"><a href="#">Hà Nội</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.5s"><a href="#">Đà Nẵng</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="single-footer-item text-center">
                        <h2 class="text-left wow fadeInDown">Liên lạc</h2>
                        <div class="single-footer-txt text-left">
                            <p class="wow fadeInUp">0933603196</p>
                            <p class="foot-email wow fadeInUp" data-wow-delay="0.1s"><a href="#">tkairline@gmail.com</a></p>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">371 Nguyễn Kiệm, phường 3, Gò Vấp</p>
                            <p class="wow fadeInUp" data-wow-delay="0.3s">Tp. Hồ Chí Minh, Việt Nam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="foot-icons ">
            <ul class="footer-social-links list-inline list-unstyled">
                <li class="wow bounce"><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
                <li class="wow bounce" data-wow-delay="0.3s"><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
                <li class="wow bounce" data-wow-delay="0.6s"><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p class="wow fadeInUp">&copy; 2017 <a href="#">TK Airline</a>. All Right Reserved</p>
        </div>
        <div id="scroll-Top">
            <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top"
               title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
    </div>
</footer>