<section id="packages-combo" class="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2 class="wow bounceInUp">
                Gói đặc biệt
            </h2>
            <p class="wow fadeInRightBig">
                Những chuyến bay được nhiều khách hàng đánh giá 5 sao trong năm vừa qua
            </p>
        </div>
        <div class="packages-content">
            <div class="row">

                <div class="col-md-4 col-sm-6 wow fadeInLeftBig" data-wow-delay="0.4s">
                    <div class="single-package-item">
                        <div>
                            <img src="{{ url_for('static', filename='images/packages-combo/nhatrang.jpg') }} "
                             alt="package-place">
                        </div>
                        <div class="single-package-item-txt">
                            <h3>Thành phố Nha Trang - Sân bay quốc tế Cam Ranh (CXR)</h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> Khởi hành: Tp.HCM -
                                    </span>
                                    <br>sân bay quốc tế Tân Sơn Nhất (SGN)
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> hành lý : 13kg
                                    </span>
                                    <i class="fa fa-angle-right"></i> 1 bữa ăn
                                </p>
                            </div>
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>1985 review</span>
                                </p>
                            </div>
                            <div class="about-btn">
                                <button class="about-view packages-btn wow swing" data-wow-delay="1s">
                                    Đặt ngay
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInLeftBig" data-wow-delay="0.2s">
                    <div class="single-package-item">
                        <img src="{{ url_for('static', filename='images/packages-combo/vinhhalong.jpg') }} "
                             alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Thành phố Quảng Ninh - sân bay quốc tế Vân Đồn (VDO)</h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> Khởi hành: Tp.HCM -
                                    </span>
                                    <br>sân bay quốc tế Tân Sơn Nhất (SGN)
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> Hành lý: 13kg
                                    </span>
                                    <i class="fa fa-angle-right"></i> 1 Bữa ăn
                                </p>
                            </div>
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div>
                            <div class="about-btn">
                                <button class="about-view packages-btn wow swing" data-wow-delay="1s">
                                    Đặt ngay
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInLeftBig">
                    <div class="single-package-item">
                        <img src="{{ url_for('static', filename='images/packages-combo/phuquoc.jpg') }} "
                             alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Đảo Phú Quốc - sân bay quốc tế phú quốc (PQC)</h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> Khởi hành: Thủ đô
                                    </span>
                                    hà nội<br>sân bay quốc tế Nội Bài (HAN)
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> hành lý: 7kg
											</span>
                                    <i class="fa fa-angle-right"></i> 1 bữa ăn
                                </p>
                            </div>
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>3654 review</span>
                                </p>
                            </div>
                            <div class="about-btn">
                                <button class="about-view packages-btn wow swing" data-wow-delay="1s">
                                    Đặt ngay
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInRightBig">
                    <div class="single-package-item">
                        <img src="{{ url_for('static', filename='images/packages-combo/china.jpg') }} "
                             alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Thành phố Bắc Kinh - sân bay quốc tế TĐ Bắc Kinh (PEK)</h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> Khởi hành: Tp.HCM -
                                    </span>
                                    <br>sân bay quốc tế Tân Sơn Nhất (SGN)
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> Hành lý: 13kg
                                    </span>
                                    <i class="fa fa-angle-right"></i> 2 bữa ăn
                                </p>
                            </div>
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>9000 review</span>
                                </p>
                            </div>
                            <div class="about-btn">
                                <button class="about-view packages-btn wow swing" data-wow-delay="1s">
                                    Đặt ngay
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInRightBig" data-wow-delay="0.2s">
                    <div class="single-package-item">
                        <img src="{{ url_for('static', filename='images/packages-combo/nhatban.jpg') }} "
                             alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>núi phú sĩ, Nhật bản - sân bay núi phú sĩ (FSZ)</h3>
                            <div class="packages-para">
                                <p>
									<span>
                                        <i class="fa fa-angle-right"></i> Khởi hành: Tp.HCM -
                                    </span>
                                    <br>sân bay quốc tế Tân Sơn Nhất (SGN)
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> hành lý: 13kg
											</span>
                                    <i class="fa fa-angle-right"></i> 2 bữa ăn
                                </p>
                            </div>
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>45878 review</span>
                                </p>
                            </div>
                            <div class="about-btn">
                                <button class="about-view packages-btn wow swing" data-wow-delay="1s">
                                    Đặt ngay
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInRightBig" data-wow-delay="0.4s">
                    <div class="single-package-item">
                        <img src="{{ url_for('static', filename='images/packages-combo/dailoan.jpg') }} "
                             alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Thành phố đài bắc - sân bay quốc tế đào viên (TPE)</h3>
                            <div class="packages-para">
                                <p>
									<span>
                                        <i class="fa fa-angle-right"></i> Khởi hành: Tp.HCM -
                                    </span>
                                    <br>sân bay quốc tế Tân Sơn Nhất (SGN)
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> hành lý: 7kg
											</span>
                                    <i class="fa fa-angle-right"></i> 1 bữa ăn
                                </p>
                            </div>
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>48978 review</span>
                                </p>
                            </div>
                            <div class="about-btn">
                                <button class="about-view packages-btn wow swing" data-wow-delay="1s">
                                    đặt ngay
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>