<h1 class="text-center">Tìm kiếm chuyến bay</h1>
{% if msg %}
    <h2 class="text-center">{{ msg }}</h2>
{% endif %}

<div class="container">
    <form>
        <div class="row">
            <div class="col-md-6">
                <input class="form-control" type="text" placeholder="Điểm đi" name="diem_di"/>
            </div>
             <div class="col-md-6">
                <input class="form-control" type="text" placeholder="Điểm đến" name="diem_den"/>
            </div>
            <div class="col-md-6">
                <input style="margin-top: 10px" class="form-control" type="date" placeholder="Ngày đi" name="ngay_di"/>
            </div>
        </div>
        <button style="margin-top: 10px;margin-bottom: 20px" class="btn btn-danger">Tìm kiếm</button>
    </form>

    <table class="table">
        <tr>
            <th></th>
            <th>Điểm đi</th>
            <td>Điểm đến</td>
            <td>Ngày đi</td>
            <td>Giờ bay</td>
            <td></td>
        </tr>
        {% if flights %}
            {% for f in flights %}
            <tr>
                <td></td>
                <td>{{ f.departure_airport }}</td>
                <td>{{ f.arrival_airport }}</td>
                <td>{{ f.departure_day}}</td>
                <td>{{ f.flight_time }}</td>
                <td><a href="#"><button class="btn btn-danger">Chọn</button></a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>