{% extends 'base/base.html' %}

<body>
    {% block header %}
        {% include 'base/header.html' %}
    {% endblock %}

    {% block banner %}
        {% include 'base/banner.html' %}
    {% endblock %}

    {% block search %}
        {% include 'base/search-tab.html' %}
    {% endblock %}

    {% block slogan %}
    {% endblock %}

    {% block top_destination %}
    {% endblock %}

    {% block packages_combo %}
    {% endblock %}

    {% block event %}
    {% endblock %}

    {% block blog %}
    {% endblock %}

    {% block footer %}
        {% include 'base/footer.html' %}
    {% endblock %}
</body>
