<section class="travel-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-travel-boxes">
                    <div id="desc-tabs" class="desc-tabs">

                        <ul class="nav nav-tabs wow fadeInDown" role="tablist">
                            <li role="presentation">
                                <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">
                                    <i class="fa fa-plane"></i>
                                    Chuyến bay
                                </a>
                            </li>
                        </ul>

                        <div role="tabpanel" class="tab-pane fade in" id="flights">
                            <div class="tab-para">
                                <div class="trip-circle">
                                    <div class="single-trip-circle  wow fadeInLeft">
                                        <input type="radio" id="radio01" name="radio"/>
                                        <label for="radio01">
  														<span class="round-boarder">
  															<span class="round-boarder1"></span>
  														</span>Khứ hồi
                                        </label>
                                    </div>
                                    <div class="single-trip-circle wow fadeInRight">
                                        <input type="radio" id="radio02" name="radio"/>
                                        <label for="radio02">
  														<span class="round-boarder">
  															<span class="round-boarder1"></span>
  														</span>Một chiều
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="single-tab-select-box">

                                            <h2 class="wow bounce">Từ</h2>

                                            <div class="travel-select-icon wow fadeInUp">
                                                <select class="form-control ">

                                                    <option value="default">Địa chỉ đi...</option>

                                                    <option value="turkey">Thành phố Hồ CHí Minh - sân bay Tân Sơn Nhất
                                                        (SGN)
                                                    </option>
                                                    <option value="russia">Thủ đô Hà Nội - sân bay Nội Bài (HAN)
                                                    </option>
                                                    <option value="egept">Thành phố Hải Phòng - sân bay quốc tế Cát Bi
                                                        (HPH)
                                                    </option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                        <div class="single-tab-select-box">
                                            <h2 class="wow bounce">Khởi hành</h2>
                                            <div class="travel-check-icon wow fadeInUp">
                                                <form action="#">
                                                    <input type="text" name="check_in" class="form-control"
                                                           data-toggle="datepicker" placeholder="MM-DD-YYYY">
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                        <div class="single-tab-select-box">
                                            <h2 class="wow bounce">Ngày về</h2>
                                            <div class="travel-check-icon wow fadeInUp">
                                                <form action="#">
                                                    <input type="text" name="return" class="form-control"
                                                           data-toggle="datepicker" placeholder="MM-DD-YYYY">
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-1 col-sm-4">
                                        <div class="single-tab-select-box">
                                            <h2 class="wow bounce">Người lớn</h2>
                                            <div class="travel-select-icon wow fadeInUp">
                                                <select class="form-control ">
                                                    <option value="default">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="20">25</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-1 col-sm-4">
                                        <div class="single-tab-select-box">
                                            <h2 class="wow bounce">Trẻ em</h2>
                                            <div class="travel-select-icon wow fadeInUp">
                                                <select class="form-control ">

                                                    <option value="default">1</option>
                                                    <option value="2">2</option>
                                                    <option value="4">3</option>
                                                    <option value="8">4</option>
                                                    <option value="8">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="single-tab-select-box">
                                            <h2 class="wow bounce">Đến</h2>
                                            <div class="travel-select-icon wow fadeInUp">
                                                <select class="form-control ">

                                                    <option value="default">Địa chỉ đến...</option>

                                                    <option value="turkey">Thành phố Hồ CHí Minh - sân bay Tân Sơn Nhất
                                                        (SGN)
                                                    </option>
                                                    <option value="russia">Thủ đô Hà Nội - sân bay Nội Bài (HAN)
                                                    </option>
                                                    <option value="egept">Thành phố Hải Phòng - sân bay quốc tế Cát Bi
                                                        (HPH)
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <div class="single-tab-select-box">

                                            <h2 class="wow bounce">Loại ghế</h2>
                                            <div class="travel-select-icon wow fadeInUp">
                                                <select class="form-control ">
                                                    <option value="default">Chọn loại ghế...</option>
                                                    <option value="A">Phổ thông (1)</option>
                                                    <option value="B">Thương gia (2)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clo-sm-5">
                                        <div class="about-btn pull-right wow fadeInDown">
                                            <button class="about-view travel-btn wow swing">
                                                Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>