<section id="service" class="service">
    <div class="container">

        <div class="service-counter text-center">

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="service-img wow fadeInLeftBig" data-wow-delay="0.2s">
                        <img src="{{ url_for('static', filename='images/service/s1.png') }}" alt="service-icon"/>
                    </div>
                    <div class="service-content">
                        <h2 class="wow swing">
                            <a href="#">
                                Gói tour tuyệt vời
                            </a>
                        </h2>
                        <p class="wow fadeInRightBig">Nhận ngay những gói tua hấp dẫn đến từ hãng hàng không TK AirLine</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="service-img wow fadeInLeftBig" data-wow-delay="0.1s">
                        <img src="{{ url_for('static', filename='images/service/s2.png') }}" alt="service-icon"/>
                    </div>
                    <div class="service-content">
                        <h2 class="wow swing">
                            <a href="#">
                                Đường hàng không quốc gia
                            </a>
                        </h2>
                        <p class="wow fadeInRightBig" data-wow-delay="0.1s">TK Airline vinh dự được nhận bằng khen hãng hàng không quốc gia</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="statistics-img wow fadeInLeftBig">
                        <img src="{{ url_for('static', filename='images/service/s3.png') }}" alt="service-icon"/>
                    </div>
                    <div class="service-content">
                        <h2 class="wow swing">
                            <a href="#">
                                Chuyến bay an toàn
                            </a>
                        </h2>
                        <p class="wow fadeInRightBig" data-wow-delay="0.2s">Với phương châm đảm bảo an toàn cho mỗi hành khách là trên hết</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>