<section id="top-destination" class="gallery">
    <div class="container">
        <div class="gallery-details">
            <div class="gallary-header text-center">
                <h2 class="wow bounceInUp">
                    Điểm đến hàng đầu
                </h2>
                <p class="wow fadeInRightBig">
                    Một vài địa điểm được khách du lịch đến nhiều nhất trong nữa đầu năm 2020
                </p>
            </div>
            <div class="gallery-box">
                <div class="gallery-content">
                    <div class="filtr-container">
                        <div class="row">

                            <div class="col-md-6 wow fadeInLeftBig">
                                <div class="filtr-item">
                                    <img src="{{ url_for('static', filename='images/top-destination/singapore.jpg') }}" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Singapore
                                        </a>
                                        <p>
                                            <span>20 tours</span><br>
                                            <span>15 places</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 wow fadeInRightBig">
                                <div class="filtr-item">
                                    <img src="{{ url_for('static', filename='images/top-destination/malaysia.jpg') }}" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Malaysia
                                        </a>
                                        <p>
                                            <span>12 tours</span><br>
                                            <span>9 places</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4 wow fadeInLeftBig" data-wow-delay="0.2s">
                                <div class="filtr-item" style="height: 400px">
                                    <img src="{{ url_for('static', filename='images/top-destination/japan.jpg') }}" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#">
                                            japan
                                        </a>
                                        <p>
                                            <span>10 tours</span><br>
                                            <span>5 places</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 wow fadeInLeftBig">
                                <div class="filtr-item">
                                    <img src="{{ url_for('static', filename='images/top-destination/vietnam.jpg') }}" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Hà Nội
                                        </a>
                                        <p>
                                            <span>18 tours</span><br>
                                            <span>9 places</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 wow fadeInRightBig">
                                <div class="filtr-item">
                                    <img src="{{ url_for('static', filename='images/top-destination/danang.jpg') }}" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Đà Nẵng
                                        </a>
                                        <p>
                                            <span>14 tours</span><br>
                                            <span>12 places</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 wow fadeInUpBig">
                                <div class="filtr-item">
                                    <img  src="{{ url_for('static', filename='images/top-destination/hongkong2.jpg') }}" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Hong Kong
                                        </a>
                                        <p>
                                            <span>14 tours</span><br>
                                            <span>6 places</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>